<div class="grid-x">
  <div class="cell small-12 medium-6 medium-offset-3 large-8 large-offset-2">
    <h1>Log in</h1>
  </div>
  <div class="cell small-12 medium-6 medium-offset-3 large-8 large-offset-2">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.email_field :email,
        required: true,
        autocomplete: 'email' %>

      <%= f.password_field :password,
        required: true %>

      <%= f.submit "Log in", class: 'button'%>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", sign_up_path %></p>
  </div>
</div>