<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% if flash[:danger] %>
      <div class="grid-x">
        <div class="cell small-12 medium-6 medium-offset-3 large-8 large-offset-2">
          <div class='alert'>
            <%= flash[:danger] %>
          </div>
        </div>
      </div>
    <% end %>
    <%= yield %>

  </body>
</html>
